.header {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-size: 3rem;
  align-items: center;
  color: #f54235;
  margin-left: 20px;
  text-decoration: none;
  cursor: pointer;
}

.logoImg {
  position: relative;
  z-index: 1;
}

.logoImg:before {
  content: '';
  width: 0.4em;
  height: 0.4em;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.logoTitle {
  font-size: 2rem;
  color: white;
  margin-left: 0.3em;
}

.search {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 60vw;
  height: 3rem;
  font-size: 1.3rem;
  padding-left: 0.8em;
  outline: none;
}

.searchBtn {
  outline: none;
  width: 3rem;
  height: 3rem;
  background-color: #3e3d3f;
  color: #fcfcfc;
  cursor: pointer;
  padding: 0;
}
